<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./style.css" />
    <title>Chat app</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.2/socket.io.js"
        integrity="sha512-zoJXRvW2gC8Z0Xo3lBbao5+AS3g6YWr5ztKqaicua11xHo+AvE1b0lT9ODgrHTmNUxeCw0Ry4BGRYZfXu70weg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="/css/chat.css">
</head>

<body>
    <div class="mainfriendpage">

        <div class="friendpage">
            <i class="fa-solid fa-x"></i>
            <input class="searchinput" placeholder="Arkadaşınızın Emaili" type="text">
            <div class="friendwriting">

            </div>
        </div>
    </div>



    <div class="seefriend mainfriendpage">

        <div class="friendpage">
            <i class="friendcancel fa-solid fa-x"></i>

            <div class="friendwriting2">

            </div>
        </div>
    </div>
    <div class="app">

        <div class="sidebar">
            <div class="mainheader">
                <header class="header">
                    <div class="header-img">
                        <img src="/uploads/avatars/<%- user.avatar %>" />
                    </div>
                    <div class="owner">
                        <h4><%-user.ad %> <%- user.soyad %></h4>
                    </div>
                    <div class="settings">
                        <i class="dropdown fa-solid fa-list-ul"></i>
                        <div class="dropdownmenu">
                            <ul class="dropdownul">
                                <li class="dropdownli">
                                    <p class="friendaddbutton">Arkadaş Ekle</p>
                                </li>
                                <li class="dropdownli">
                                    <p class="seefriendreq">İstekler</p>
                                </li>
                                <li class="dropdownli"><a href="/profile">Profilim</a></li>
                                <li class="dropdownli"><a href="/changepassword">Şifre Değiştir</a></li>
                                <li class="dropdownli"><a style="color: red;" href="/logout">Çıkış Yap</a></li>
                            </ul>
                        </div>
                    </div>
                </header>

            </div>
            <% alluser.forEach(element=> { %>
                <a href="/chat?id=<%- element._id %>">
                    <div class="user">
                        <div class="image">
                            <img src="/uploads/avatars/<%- element.avatar %>" />
                        </div>
                        <div class="description">
                            <h3><%- element.ad %> <%- element.soyad %></h3>


                            <% if (user.id===message[message.length-1].gonderen) { %>
                                <span class="online"><%- message[message.length-1].mesaj %></span>
                                <% } else { %>
                                    <span class="offline"><%- message[message.length-1].mesaj %></span>
                                    <% } %>

                        </div>
                    </div>
                </a>
                <% }) %>


        </div>
        <div class="chat">
            <% if (receiver) { %>
                <header>
                    <div class="nameandpp">
                        <img class="profileimg" src="/uploads/avatars/<%- receiver.avatar %>" />
                        <h2><%- receiver.ad %> <%- receiver.soyad %></h2>
                    </div>
                    <div class="settings">
                        <i class="userdropdown fa-solid fa-list-ul"></i>
                        <div class="dropdownmenu2">
                            <ul class="dropdownul">
                                <li class="dropdownli"><a href="/profile?id=<%- receiver._id %>">Profiline Git</a></li>
                                <li class="dropdownli"><a style="color: red;"
                                        href="/removefriend?id=<%- receiver._id %>">Arkadaşlıktan Çıkar</a></li>
                            </ul>
                        </div>
                    </div>
                </header>

                <section>
                    <div class="chat-box">
                        <% message.forEach(element=> { %>
                            <% if (user.id===element.gonderen) { %>
                                <div class="message sent">
                                    <div class="message-content">
                                        <%- element.mesaj %>
                                    </div>
                                </div>
                                <% } else { %>
                                    <div class="message received">
                                        <div class="message-content">
                                            <%- element.mesaj %>
                                        </div>
                                    </div>
                                    <% } %>

                                        <% }) %>

                    </div>
                    <div class="yazma">
                        <span style="color: white; opacity: 0; margin-left: 20px;" class="writing">Yazıyor...</span>
                    </div>
                </section>

                <div class="input-container">
                    <input type="text" class="mesaj" id="message-input" placeholder="Mesajınızı girin" />
                    <button class="gonder">Gönder</button>
                </div>
                <% } %>
        </div>
    </div>
    <script src="/js/chat.js">
        const button = document.querySelector('.gonder');



        button.onclick = function () {
            const scrollableDiv = document.querySelector('.chat-box');
            scrollableDiv.scrollTop = scrollableDiv.scrollHeight;
        }
    </script>
    <script>

    </script>

</body>

</html>