<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./style.css" />
    <title>Chat app</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.2/socket.io.js"
        integrity="sha512-zoJXRvW2gC8Z0Xo3lBbao5+AS3g6YWr5ztKqaicua11xHo+AvE1b0lT9ODgrHTmNUxeCw0Ry4BGRYZfXu70weg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="/css/chat.css">
</head>

<body>
    <div class="app">
        <div class="sidebar">
            <header class="header">
                <div class="header-img">
                    <img src="/uploads/avatars/<%- user.avatar %>" />
                </div>
                <div class="owner">
                    <h4><%-user.ad %> <%- user.soyad %></h4>
                </div>
                <div class="settings">
                    <i class="fa-solid fa-list-ul"></i>
                </div>
            </header>
            <div class="searchbar">
                <input type="search" placeholder="Ara..." /><button>Ara</button>
            </div>
            <% alluser.forEach(element=> { %>
                <a href="/chat?id=<%- element._id %>">
                    <div class="user">
                        <div class="image">
                            <img src="/uploads/avatars/<%- element.avatar %>" />
                        </div>
                        <div class="description">
                            <h3><%- element.ad %> <%- element.soyad %></h3>

                            <% if (element.socketid !=null) { %>
                                <span class="online">Online</span>
                                <% } %>
                                    <% if (element.socketid==null) { %>
                                        <span class="offline">Offline</span>
                                        <% } %>

                        </div>
                    </div>
                </a>
                <% }) %>


        </div>
        <div class="chat">
            <% if (receiver) { %>
                <header>
                    <img src="/uploads/avatars/<%- receiver.avatar %>" />
                    <h2><%- receiver.ad %> <%- receiver.soyad %></h2>
                    <div class="settings">
                        <i class="fa-solid fa-list-ul"></i>
                    </div>
                </header>

                <section>
                    <div class="chat-box">
                        <% message.forEach(element=> { %>
                            <% if (user.id===element.gonderen) { %>
                                <div class="message sent">
                                    <div class="message-content">
                                        <%- element.mesaj %>
                                    </div>
                                </div>
                                <% } else { %>
                                    <div class="message received">
                                        <div class="message-content">
                                            <%- element.mesaj %>
                                        </div>
                                    </div>
                                    <% } %>

                                        <% }) %>

                    </div>
                </section>

                <div class="input-container">
                    <input type="text" class="mesaj" id="message-input" placeholder="Mesajınızı girin" />
                    <button class="gonder">Gönder</button>
                </div>
                <% } %>
        </div>
    </div>
    <script src="/js/chat.js"></script>
</body>

</html>