<head>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons" />

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.css" />
  <link rel="stylesheet"
    href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css"
    integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous" />
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet" />
  <link rel="stylesheet" type="text/css"
    href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
  <link rel="stylesgeet"
    href="https://rawgit.com/creativetimofficial/material-kit/master/assets/css/material-kit.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.js"></script>
  <link rel="stylesheet" href="/css/profile.css" />
</head>
<style>
  .page-header::after {
    background: url("/uploads/avatars/<%- user.banner %>");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    z-index: 1;
  }

  .page-header {
    z-index: 2;
  }
</style>

<body class="profile-page">

  <form action="/profile" method="post">
    <div style="display: none;" class="instagraminput socialinput">
      <div class="positiondiv">
        <label class="instagramlabel">Link:</label>
        <input name="instagram" type="text">
        <button type="submit">Ekle</button>
      </div>
    </div>
    <div style="display: none;" class="twitterinput socialinput">
      <div class="positiondiv">
        <label class="instagramlabel">Link:</label>
        <input name="twitter" type="text">
        <button type="submit">Ekle</button>
      </div>
    </div>
    <div style="display: none;" class="linkedininput socialinput">
      <div class="positiondiv">
        <label class="instagramlabel">Link:</label>
        <input name="linkedin" type="text">
        <button type="submit">Ekle</button>
      </div>
    </div>

    <input style="display: none;" id="links2" type="file" />
    <input type="hidden" name="links2" id="links22" />


    <div class="page-header header-filter" data-parallax="true"
      style="background-image: url('/uploads/avatars/<%- user.banner %>')"></div>
    <img class="onizleme" style="position: absolute;" src="" alt="">
    <div class="main main-raised">
      <div style="    padding-bottom: 10px;" class="profile-content">
        <div class="container">
          <div class="row">
            <div class="col-md-6 ml-auto mr-auto">
              <div class="profile">
                <img class="bannerimg" style="display: none" src="" alt="" />
                <div class="avatar">
                  <input style="display: none;" id="links" type="file" />
                  <input type="hidden" name="links1" id="links1" />
                  <img src="/uploads/avatars/<%- user.avatar %>" alt="Circle Image"
                    class="img-raised rounded-circle img-fluid" />
                </div>

                <div class="name">
                  <h3 class="title">
                    <input style="display: none;    max-width: 250px;" class="ad" value="<%- user.ad %>" name="ad"
                      type="text" />
                    <input style="display: none;    max-width: 250px;" class="soyad" value="<%- user.soyad %>"
                      name="soyad" type="text" />
                    <p style="font-size: 20px;" class="paragrafad"><%- user.ad + ' ' + user.soyad %></p>
                  </h3>

                  <div style="    display: flex;
                  flex-direction: row;
                  flex-wrap: nowrap;
                  align-items: center;
                  justify-content: center;" class="socialmediaicon">
                    <% if (user.instagram !=null) { %>
                      <a href="<%- user.instagram %>" class="invisibles btn btn-just-icon btn-link btn-dribbble">
                        <i class="fa fa-instagram"></i>
                      </a>
                      <% } %>
                        <a style="display: none !important; " class="iconbutton hovericons">İnstagram Hesabı Ekle</a>


                        <% if (user.twitter !=null) { %>
                          <a href="<%- user.twitter %>" class="invisible1 btn btn-just-icon btn-link btn-twitter">
                            <i class="fa fa-twitter"></i>
                          </a>
                          <% }%>
                            <a style="display: none !important; " class="iconbutton1 hovericons">Twitter Hesabı Ekle</a>


                            <% if (user.linkedin !=null) { %>
                              <a href="<%- user.linkedin %>"
                                class="invisible2 btn btn-just-icon btn-link btn-pinterest">
                                <i class="fa fa-linkedin"></i>
                              </a>
                              <% } %>
                                <a style="display: none !important;" class="iconbutton2 hovericons">Linkedin Hesabı
                                  Ekle</a>

                  </div>
                </div>
              </div>
            </div>
            <div class="designbuttons">
              <a style="display: none;
            z-index: 2;" id="crop-button">Onayla</a>

              <button class="savebutton" style="   display: none;  z-index: 2; " type="submit">Kaydet</button>
            </div>
          </div>
          <div class="description text-center">
            <p>
              <%- user.userabout %>
            </p>
          </div>

          <div class="tab-content tab-space"></div>

        </div>
        <% if (user._id==req.user.id) { %>
          <a style="    z-index: 2;
        position: relative;    z-index: 2;
    position: relative;
    border: 2px solid gray;
    padding: 5px;
    margin-left: 3px;" class="duzenle">Düzenle</a>
          <% } %>
      </div>
    </div>

  </form>

  <script src="/js/profile.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js"
    integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U"
    crossorigin="anonymous"></script>
  <script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js"
    integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.js"></script>
  <script>
    const pageheader = document.querySelector('.page-header')
    const cropButton = document.querySelector('#crop-button')
    let cropper;
    const fileInput = document.querySelector("#links2");
    const avatarInput = document.querySelector('#links')
    const imgavatar = document.querySelector('img-raised');
    const savebutton = document.querySelector('.savebutton')
    const cropperOptions = {
      aspectRatio: 1920 / 1080, // Kırpma oranını istediğiniz şekilde ayarlayın
      viewMode: 1, // Kırpma bölgesini tam ekran olarak ayarlar
    };
    const cropperOptions2 = {
      aspectRatio: 1 / 1, // Kırpma oranını istediğiniz şekilde ayarlayın
      viewMode: 1, // Kırpma bölgesini tam ekran olarak ayarlar
    };
    const imageElement = document.querySelector(".bannerimg");
    fileInput.addEventListener("change", function () {
      cropButton.style.display = 'block'
      // ...
      savebutton.style.display = 'none'
      const selectedFile = fileInput.files[0];
      const objectURL = URL.createObjectURL(selectedFile);
      imageElement.src = objectURL;

      cropper = new Cropper(imageElement, cropperOptions);

      // Kırpma işlemini tamamla ve sonuçları al
      cropButton.onclick = function () {
        savebutton.style.display = 'inline-block'
        const croppedCanvas = cropper.getCroppedCanvas();
        if (croppedCanvas) {
          const croppedImageDataURL = croppedCanvas.toDataURL("image/jpeg");

          // Kırpılmış resmi img etiketinin src'sine yaz
          const inputs = document.querySelector("#links22");
          inputs.value = croppedImageDataURL;
          console.log('çalıştı');

          pageheader.style.backgroundImage = `url(${croppedImageDataURL})`
          cropper.destroy();
        }
      };
    });

    avatarInput.addEventListener("change", function () {
      savebutton.style.display = 'none'
      cropButton.style.display = 'block'
      const selectedFile = avatarInput.files[0];
      const objectURL = URL.createObjectURL(selectedFile);
      imageElement.src = objectURL;

      cropper = new Cropper(imageElement, cropperOptions2);

      // Kırpma işlemini tamamla ve sonuçları al
      cropButton.onclick = function () {

        savebutton.style.display = 'inline-block'
        const croppedCanvas = cropper.getCroppedCanvas();
        cropper.destroy();
        if (croppedCanvas) {
          const croppedImageDataURL = croppedCanvas.toDataURL("image/jpeg");

          // Kırpılmış resmi img etiketinin src'sine yaz
          const inputs = document.querySelector("#links1");
          inputs.value = croppedImageDataURL;
          console.log(croppedImageDataURL);
          imgavatar.src = croppedImageDataURL

        }
      };
    })


    const duzenle = document.querySelector('.duzenle');
    const ad = document.querySelector('.ad');
    const soyad = document.querySelector('.soyad');
    const paragrafad = document.querySelector('.paragrafad')
    const iconbutton = document.querySelector('.iconbutton')
    const iconbutton1 = document.querySelector('.iconbutton1')
    const iconbutton2 = document.querySelector('.iconbutton2')

    const invisible = document.querySelector('.invisibles');
    const invisible1 = document.querySelector('.invisible1');
    const invisible2 = document.querySelector('.invisible2');
    duzenle.onclick = function () {
      ad.style.display = 'flex'
      soyad.style.display = 'flex'
      paragrafad.style.display = 'none'


      iconbutton.style.display = 'inline-block'
      iconbutton1.style.display = 'inline-block'
      iconbutton2.style.display = 'inline-block'
      fileInput.style.display = 'inline-block'
      avatarInput.style.display = 'inline-block'
      savebutton.style.display = 'inline-block'
      invisible.style.display = 'none';
      invisible1.style.display = 'none'
      invisible2.style.display = 'none'

    }

    iconbutton.onclick = function () {
      console.log('instagrama tıkladı');
      const socialinput = document.querySelector('.instagraminput')
      socialinput.style.display = 'flex'
    }

    iconbutton1.onclick = function () {
      console.log('instagrama tıkladı 1');
      const socialinput = document.querySelector('.twitterinput')
      socialinput.style.display = 'flex'
    }

    iconbutton2.onclick = function () {
      console.log('instagrama tıkladı 2');
      const socialinput = document.querySelector('.linkedininput')
      socialinput.style.display = 'flex'
    }




    // Kırpma işlemini tamamladığınızda Cropper nesnesini yok edin
  </script>
</body>